body {
	margin: 0;	
	padding: 0;
}

.header {
	position: absolute;
	height: 100%;	
	width: 20%;			
	background-color: #fff;
	position: fixed;
	overflow: hidden;
}

.header-big {
	position: relative;
	font-family: arial;
	font-size: 150px;
	color: #000;
	left: 8%;
	/*padding: 0 8%;*/
	transition: .5s;
}

.header-list {
	position: absolute;
	top: 35%;
	left: 20%;
	font-family: arial;
	font-size: 17px;
	font-weight: bold;
	color: #000;
	list-style-type: none;
	
}

.header-list li {
	margin-bottom: 18%;
	list-decoration: bold;
	letter-spacing: 1px;
}

.h-a {
	text-decoration: none;
	color: #e1c184;
	margin-bottom: 15px;
	list-decoration: bold;
	letter-spacing: 1px;
}

.h-a:hover {
	color: SaddleBrown;
	transition: .5s;
	/*transform: scale(2);
	font-size: 25px;*/
}

/*.header-list li:hover{
	font-size: 25px;
}*/

a {text-decoration: none;color: #e1c184;}

.header-big:hover {
	left: 100%;
	transition: .5s;
}

/*.intro {
	position: absolute;
	height: 35%;
	width: 80%;
	left: 20%;
	background-color: pink;
	/*overflow: hidden;
}*/


.b {
	background-color: black;
	/*z-index: 1;
	overflow: hidden;*/
}

.bubbles {
	background-color: SaddleBrown;
	position: relative;
	position: fixed;
	top: -16px;
	left: 20%;
	width: 80%;
	height: 100%;
	z-index: 0;
	transform: translateZ(0);
}

.bubbles .bli {
	position: absolute;
	list-style: none;
	display: block;
	background-color: rgba(255,255,255,0.15);
	bottom: -100px;
	animation: square 10s infinite;
	transition-timing-function: linear;
}

.bubbles .bli:nth-child(1) {
	width: 40px;
	height: 40px;
	left: 20%;
}

.bubbles .bli:nth-child(2) {
	width: 60px;
	height: 60px;
	left: 40%;
	animation-delay: 2s;
	animation-duration: 17s;
}

.bubbles .bli:nth-child(3) {
	width: 10px;
	height: 10px;
	left: 60%;
	animation-delay: 4s;
	animation-duration: 13s;
}

.bubbles .bli:nth-child(4) {
	width: 80px;
	height: 80px;
	left: 30%;
	animation-delay: 4s;
	animation-duration: 13s;
}

.bubbles .bli:nth-child(5) {
	width: 35px;
	height: 35px;
	left: 90%;
	animation-delay: 4s;
	animation-duration: 13s;
}

.bubbles .bli:nth-child(6) {
	width: 150px;
	height: 150px;
	left: 15%;
	animation-delay: 4s;
	animation-duration: 13s;
}

@keyframes square 
{
	0%
	{
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100%
	{
		-webkit-transform: translateY(-1080px) rotate(630deg);
		transform: translateY(-1080px) rotate(630deg);
	}
}

.strip {
	position: absolute;
	position: fixed;
	height: 10%;
	width: 80%;
	left: 20%;
	background-color: SaddleBrown;
}

.intro {
	position: absolute;
	height: 50%;
	width: 80%;
	left: 20%;
	background-color: pink;
	/*background: url(c2.jpg) center center no-repeat;
	background-size: cover;*/
}

#particles-js {
	position: fixed;
	height: 100%;
	background: SaddleBrown;	
	z-index: -1;
}

.w1-t {
	position: absolute;
	top: 60%;
	left: 50%;
	font-family: helvetica;
	font-size: 55px;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
}

hr {
	position: absolute;
	top: 75%;
	left: 30%;
	height: 5%;
	width: 60%;
	border: 0px solid #c19946;
	background-color: #c19946;
	margin: 0 auto;
}

.work-container {
	position: absolute;
	top: 85%;
	left: 30%;
	height:65%;
	width: 60%;
	background-color: #c19946;
	margin: 0 auto;
}

.button1 {
	position: relative;
	top: 10%;
	/*background: SaddleBrown;*/
	/*transform: translate(-50%,-50%);*/
}

.flip {
	font-size: 20px;
	font-family: arial;
	text-decoration: none;
	text-transform: uppercase;
	transform-style: preserve-3d;
	position: relative;
	left: 10%;
	transition: .5s;
}

.flip:before {
	content: attr(title);
	position: absolute;
	top: 0;
	left: 0;
	padding: 15px 30px;
	background: #000;
	color: #fff;
	border: 3px solid #000;
	transition: .5s;
	transform-origin: right;
	transform: translateX(-100%) rotateY(90deg);
}


.flip:after {
	content: attr(title);
	position: absolute;
	top: 0;
	left: 0;
	padding: 15px 30px;
	background: #fff;
	color: #000;
	border: 3px solid #000;
	transition: .5s;
	transform-origin: left;
	transform: translateX(0) rotateY(0deg);
	
}

.flip:hover:before {
	transform: translateX(0) rotateY(0deg);
}

.flip:hover:after {
	transform: translateX(100%) rotateY(90deg);
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);


.button2{
	font-family: arial;
	position: relative;
	top: 6%;
	left: 55%;
	height: 0%;
	width: 200px;
	background-color: #2D3172;
	/*transform: translate(-50%,-50%);*/
}

/*h3 {
  margin-top: -20px;
  font-family: arial;
  text-align: center;
}*/

.button {
  position: absolute;
  left: 15%;
  color: #000;
  box-sizing: border-box;
  height: 50px;
  width: 200px;
  display: table;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
  -webkit-transition: background .5s;
  transition: background .5s;
  cursor: pointer;
}
.button span {
  width: 100%;
  height: 100%;
  padding: 20px;
  color: #000;
  box-shadow: 0 0 0 3px #000 inset;
  background: transparent;
}
.button .away {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.button .over {
  display: none;
}
.button:hover span.away {
  display: none;
}
.button:hover span.over {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
  box-shadow: none;
}
.button:hover {
  background: SaddleBrown;
}

.button3 {
	position: absolute;
	top: 52%;
	left: 20%;
}

.ham-container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.ham-container:hover .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.ham-container:hover .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.ham-container:hover .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
/*
.rotate {
	font-family: arial;
	text-decoration: none;
	text-transform: uppercase;	
	font-size: 20px;
	position: relative;
	left: 40%;
}

.rotate>span {
	padding: 15px;
	position: relative;
	transition: .5s;
}

.rotate>span:nth-child(1) {
	color: #fff;
	background: #262626;
}

.rotate>span:nth-child(2) {
	color: #fff;
	background: #ff3636;
}

a span:nth-child(1):before {
	content: attr(data-attr);
	padding: 15px;
	position: absolute;
	top: 0;
	left: 0;
	background: #ff3636;
	transform-origin: top;
	transform: rotateX(90deg) translateY(-50%);
	transition: .5s;
}

a:hover span:nth-child(1):before {
	transform: rotateX(0deg) translateY(0deg);
}

a span:nth-child(1):after {
	content: attr(data-attr);
	padding: 15px;
	position: absolute;
	top: 0;
	left: 0;
	background: #ff3636;
	transform-origin: top;
	transform: rotateX(0deg) translateY(0%);
	transition: .5s;
}

a:hover span:nth-child(1):after {
	transform: rotateX(90deg) translateY(90deg);
}

.ul {
	position: relative;
	top: 14%;
	left: 65%;
	border: 1px solid #262626;
	margin: 0;
	padding: 0;
	display: flex;
	width: 30%;
	
}

.ul>li {
	
	list-style: none;
}

.ul>li>a {
	position: relative;
	display: block;
	width: 120px;
	height: 40px;	
	text-align: center;
	line-height: 40px;
	color: #262626;
	text-transform: uppercase;
	text-decoration: none;
	font-family: arial;
	letter-spacing: 2px;
	overflow: hidden;
	transition: .5s;
}

.ul>li>a:before {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: #262626;	
	z-index: -1;
	transition: .5s;
}

.ul>li:nth-child(odd) a:before {
	right: -100%;
}

.ul>li:nth-child(even) a:before {
	left: -100%;
}

.ul>li:nth-child(odd) a:hover:before {
	right: 0%;
}

.ul>li:nth-child(even) a:hover:before {
	left: 0%;
}
*/

.button45 {
  display: block;
  position: relative;
  top: 200px;
  left: 65%;
  /*margin: auto;*/
  padding: 10px 17px;
  font-size: 25px;
  cursor:pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 50px;
  box-shadow: 0 4px #999;
}

.button45:hover {background-color: #3e8e41}

.button45:active {
  background-color: #3e8e41;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

.cardboard {
	position: absolute;
	top: 200%;
	left: 30%;
	height: 40%;
	width: 60%;
	background-color: #c19946;
}

.cardBox {
	display: inline-block;	
	perspective: 500px;
	margin: 8% 6%;	
	/*margin: 15px;*/
	
}

/*.cardBox {
	display: inline-block;
	/*display: flex;
	align-items: center;
	justify-content: space-around;	
	position: relative;
	top: 150%;
	left: 30%;
	/*margin-right: 50px;
	perspective: 500px;
	margin: 80px 50px ;
	background: #fff;
}
*/
.card {
	font-family: helvetica;
	position: relative;
	width: 150px;
	height: 150px;
	background: #fff;
	transform-style: preserve-3d;
	transition: .5s ease;
	box-shadow: 0 30px 30px rgba(0,0,0,.5);
}

.facebook {
	background: #3b5998;
}

.twitter {
	background: #00aced;
}

.googleplus {
	background: #dd4b39;
}

.card-front,.card-back {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;	
	color: #fff;
	backface-visibility: hidden;
}

.card-front {
	display: flex;
	font-size: 40px;
	justify-content: center;
	align-items: center;
	backface-visibility: hidden;
}

.card-back {
	display: flex;
	font-size: 30px;
	justify-content: center;
	align-items: center;
}

.cardBox:hover .card {
	transform: rotateY(180deg);
}

.card-back {
	transform: rotateY(180deg);
}

.moon-container {
	position: absolute;
	height: 35%;
	width: 15%;
	/*background-color: #c16694;*/
	top: 275%;
	left: 35%;
}

.moon{
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	/*background-color: #e5a4cb;*/
	background-color: #c19946;
	border-radius: 50%;
	width: 200px;
	height: 200px;
}
@-webkit-keyframes orbit{
	from{
		-webkit-transform: rotateX(0) rotateY(359deg);
	}
	to{
		-webkit-transform: rotateX(359deg) rotateY(-359deg);
	}
}
@keyframes orbit{
	from{
		-webkit-transform: rotateX(0) rotateY(359deg);
		transform: rotateX(0) rotateY(359deg);
	}
	to{
		-webkit-transform: rotateX(359deg) rotateY(-359deg);
		transform: rotateX(359deg) rotateY(-359deg);
	}
}
.moon:before, .moon:after{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	-webkit-transform-origin: center center -133.33333px;
	transform-origin: center center -133.33333px;
	-webkit-animation: orbit 3s linear infinite;
	animation: orbit 3s linear infinite;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	z-index: 1;
	content: '';
	width: 40px;
	height: 40px;
	background-color: #bbb;
	/*background-color: #c19964;*/
	border-radius: 50px;
}
.moon:before{
	-webkit-transform-origin: center center -100px;
	transform-origin: center center -100px;
	width: 30px;
	height: 30px;
	background-color: #555;
	opacity: 0.5;
}
.moon.behind:after{
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
}

.earth-container {
	position: absolute;
	top: 265%;
	left: 65%;
}

#earth {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 3em auto;
  background: url(earthmap.jpg) 0 0 repeat;
  border-radius: 50%;
  background-size: 630px;
  animation: rotate 4s linear infinite;
  transition: transform 200ms linear;
  transform-style: preserve-3d;
  box-shadow: inset 20px 0 80px 6px rgba(0, 0, 0, 1);
  color: #000;
}

#earth:after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: -80px 15px 80px 10px rgba(0,0,0,.9) inset;
}

#earth:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
  background: radial-gradient(circle at 100px 100px, #fff, #000);
}

@keyframes rotate {
  0% {background-position: 0 0;}
  100% {background-position: 630px 0;}
}


@import url(https://fonts.googleapis.com/css?family=Lily+Script+One);

.text-container {
	position: absolute;
	top: 330%;
	left: 30%;
	width: 60%;
	background-color: #c19946;
}

h1{
	color: transparent;
	font: 700 65px 'Lily Script One', cursive;
	text-align: center;
	text-shadow: 24px 20px 8px rgba(255, 255, 255, 0.3), 18px 10px 6px rgba(255, 155, 153, 0.39), 8px 6px 6px rgba(0, 0, 0, 0.60), 4px 4px 6px #fff, 0 0 6px #ff9999;
	margin: 0.125em 0;
	position: relative;
}
h1::before, h1::after{
	content: '';
	font: inherit;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none;
}
/* let's add the stripes */
h1::before{
	background: -webkit-repeating-linear-gradient(135deg, #d5013f, #d5013f 20px, #fff 20px, #fff 40px);
	background: repeating-linear-gradient(-45deg, #d5013f, #d5013f 20px, #fff 20px, #fff 40px);
	mix-blend-mode: overlay;
}

h1::after{
	/*background: white;*/
	background-color: #fff;
	content: 'happy holidays';
	color: black;
	text-shadow: none;
	mix-blend-mode: lighten;
	bottom: -20px;
}

/* perfect! except if you try to select the text...but we can fix that */
::selection{
	background: #000;
}



.e404 {
	position: absolute;
	top: 380%;
	left: 60%;
}

@import "compass/css3";

body {
    background-color: white;
}

.error404page {
  height: 800px;
}

.body404, .head404, .eyes404, .leftarm404, .rightarm404, .chair404, .leftshoe404, .rightshoe404, .legs404, .laptop404 {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/15979/404-character-new.png) 0 0 no-repeat;
  width: 200px;
  height: 200px;
  // border: 1px dotted red;
}

.newcharacter404, .torso404, .body404, .head404, .eyes404, .leftarm404, .rightarm404, .chair404, .leftshoe404, .rightshoe404, .legs404, .laptop404 {
  background-size: 750px;
  position: absolute;
  display: block;
}

.newcharacter404 {
  width: 400px;
  height: 800px;
  left: 50%;
  top: 20px;
  margin-left: -200px;
}

$swayspeed: 20s;

.torso404 {
  position: absolute;
  display: block;
  top: 138px;
  left: 0px;
  width: 389px;
  height: 252px;
  animation: sway $swayspeed ease infinite;
  transform-origin: 50% 100%;
}

.body404 {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 389px;
  height: 253px;
}

.head404 {
  position: absolute;
  top: -148px;
  left: 106px;
  width: 160px;
  height: 194px;
  background-position: 0px -265px;
  transform-origin: 50% 85%;
  animation: headTilt $swayspeed ease infinite;
}

.eyes404 {
  position: absolute;
  top: 92px;
  left: 34px;
  width: 73px;
  height: 18px;
  background-position: -162px -350px;
  animation: blink404 10s steps(1) infinite, pan 10s ease-in-out infinite;
}

.leftarm404 {
  position: absolute;
  top: 159px;
  left: 0;
  width: 165px;
  height: 73px;
  background-position: -265px -341px;
  transform-origin: 9% 35%;
  transform: rotateZ(0deg);
  animation: typeLeft 0.4s linear infinite;
}

.rightarm404 {
  position: absolute;
  top: 148px;
  left: 231px;
  width: 157px;
  height: 91px;
  background-position: -442px -323px;
  transform-origin: 90% 25%;
  animation: typeLeft 0.4s linear infinite;
}

.chair404 {
  position: absolute;
  top: 430px;
  left: 55px;
  width: 260px;
  height: 365px;
  background-position: -12px -697px;
}

.legs404 {
  position: absolute;
  top: 378px;
  left: 4px;
  width: 370px;
  height: 247px;
  background-position: -381px -443px;
}

.leftshoe404 {
  position: absolute;
  top: 591px;
  left: 54px;
  width: 130px;
  height: 92px;
  background-position: -315px -749px;
}

.rightshoe404 {
  position: absolute;
  top: 594px;
  left: 187px;
  width: 135px;
  height: 81px;
  background-position: -453px -749px;
  transform-origin: 35% 12%;
  animation: tapRight 1s linear infinite;
}

.laptop404 {
  position: absolute;
  top: 186px;
  left: 9px;
  width: 365px;
  height: 216px;
  background-position: -2px -466px;
  transform-origin: 50% 100%;
  animation: tapWobble 0.4s linear infinite;
}

@keyframes sway {
  0%   { transform: rotateZ(0deg); }
  20%  { transform: rotateZ(0deg); }
  25%  { transform: rotateZ(4deg); }
  45%  { transform: rotateZ(4deg); }
  50%  { transform: rotateZ(0deg); }
  70%  { transform: rotateZ(0deg); }
  75%  { transform: rotateZ(-4deg); }
  90%  { transform: rotateZ(-4deg); }
  100% { transform: rotateZ(0deg); }
}

@keyframes headTilt {
  0%   { transform: rotateZ(0deg); }
  20%  { transform: rotateZ(0deg); }
  25%  { transform: rotateZ(-4deg); }
  35%  { transform: rotateZ(-4deg); }
  38%  { transform: rotateZ(2deg); }
  42%  { transform: rotateZ(2deg); }
  45%  { transform: rotateZ(-4deg); }
  50%  { transform: rotateZ(0deg); }
  70%  { transform: rotateZ(0deg); }
  82%  { transform: rotateZ(0deg); }
  85%  { transform: rotateZ(4deg); }
  90%  { transform: rotateZ(4deg); }
  100% { transform: rotateZ(0deg); }
}

@keyframes typeLeft {
  0%   { transform: rotateZ(0deg); }
  25%  { transform: rotateZ(7deg); }
  75%  { transform: rotateZ(-6deg); }
  100% { transform: rotateZ(0deg); }
}

@keyframes typeRight {
  0%   { transform: rotateZ(0deg); }
  25%  { transform: rotateZ(-6deg); }
  75%  { transform: rotateZ(7deg); }
  100% { transform: rotateZ(0deg); }
}

@keyframes tapWobble {
  0%   { transform: rotateZ(-0.2deg); }
  50%  { transform: rotateZ(0.2deg); }
  100% { transform: rotateZ(-0.2deg); }
}

@keyframes tapRight {
  0%   { transform: rotateZ(0deg); }
  90%  { transform: rotateZ(-6deg); }
  100% { transform: rotateZ(0deg); }
}

@keyframes blink404 {
  0%   { background-position: -162px -350px; }
  94%  { background-position: -162px -350px; }
  98%  { background-position: -162px -368px; }
  100% { background-position: -162px -350px; }
}

@keyframes pan {
  0%   { transform: translateX(-2px); }
  49%   { transform: translateX(-2px); }
  50%  { transform: translateX(2px); }
  99%  { transform: translateX(2px); }
  100% { transform: translateX(-2px); }
}


meter {
	position: absolute;
	display: inline-block;
	top: 350%;
	left: 25%;
	height: 10%;
	width: 60%;
}

#button {
	position: absolute;
	top: 352%;
	left: 90%;
	height: 40px;
	width: 80px;
	color: #e1c194;
	border: 1px solid SaddleBrown;
}





































